In [15]:
var = 3
hello = "hello world"

print(3)


lists = [1, 2, 3]

print(lists[:2])
print(lists[1:2])

print(hello.replace("e", "a"))


print(len(hello))

lists.append(4)


lists.insert(0,1)

lists.pop()

lists.remove(2)

lists.sort()
lists.sort(reverse=True)

lists.reverse()

lists

3
[1, 2]
[2]
hallo world
11

[1, 1, 3]

In [27]:

lists = list([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
for i in lists:
    print(i)


for i in range(1, 11):
    print(i)


min(lists)
max(lists)

[val ** 2 for val in lists]

1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [41]:
n = 15
output = []

# for i in range (1, n):
#     if i % 3 == 0 and i % 5 == 0:
#         output.append("FizzBuzz")
#     elif i % 3 == 0 or i % 5 == 0:
#         output.append("Fizz")
#     else:
#         output.append(i)
# output

# match n:
#     case n % 3 == 0 and n % 5 == 0:
#         output.append("FizzBuzz")
#     case n % 3 == 0:
#         output.append("Fizz")
#     case n % 5 == 0:
#         output.append("Buzz")
#     case _:
#         output.append(n)

0

In [46]:
tup = (3,4)

tup[0]

3

In [49]:
"POTATO".lower()

"banana".upper()

'BANANA'

In [65]:
from dataclasses import dataclass
from typing import Optional


@dataclass
class Person:
    name: str
    supername: str
    age: Optional[int] = None


person = Person("Bob", "Super Bob")

print(person)

person.age = 30

print(person)


for item in person.keys():
    print(item)

"" + ""

Person(name='Bob', supername='Super Bob', age=None)
Person(name='Bob', supername='Super Bob', age=30)

AttributeError: 'Person' object has no attribute 'keys'

In [64]:

nums1 = [1,2,3,0,0,0]
m = 3
nums2 =[2,5,6]
n = 3

def merge( nums1: list[int], m: int, nums2: list[int], n: int) -> None:
    nums1 = nums1[:m]
    nums2 = nums2[:n]

    nums1.extend(nums2)
    nums1.sort()
    return nums1


merge(nums1, m, nums2, n)

[1, 2, 2, 3, 5, 6]

In [66]:
import enum 

class Color(enum.Enum):
    RED = 1
    GREEN = 2
    BLUE = 3

x = Color.RED

match x:
    case Color.RED:
        print("red")
    case Color.GREEN:
        print("green")
    case Color.BLUE:
        print("blue")
    case _:
        print("unknown")

red