In [1]:
import pandas as pd

In [28]:
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
})

In [ ]:
df.loc[0] # returns the first row
df.loc[0, 'A'] # returns the first row, first column

df.loc[:2]  # returns the first two rows

df.loc[0:2, 'B']  # returns the first two rows, B column

df.loc[1:, ['A', 'B']]  # returns the first two rows, A and B columns

df.loc[df['A'] > 1]  # returns rows where A is greater than 1

df.loc[df['A'] > 1, 'B']  # returns rows where A is greater than 1, B column

df.loc[df['A'] > 2, ['B', 'C']]  # returns rows where A is greater than 2, B and C columns

df.loc[df['A'] > 1, ['B', 'C']] = 0  # set values of B and C to 0 where A is greater than 1

df.loc[0, 'A'] = 10  # set the value of A in the first row to 10

df.loc[0] = 20  # set all values in the first row to 20

df.iat[0, 0]  # returns the value in the first row, first column

df.iloc[0]  # returns the first row

df.iloc[0, 0]  # returns the first row, first column

df.iloc[:2]  # returns the first two rows

df.iloc[0:2, 1]  # returns the first two rows, second column

df.iloc[1:, [0, 1]]  # returns the first two rows, first and second columns

df.iloc[:, 1:3]  # returns all rows, second and third columns

    C
0  20
1   0
2   0